body {
    background-color: white;
    margin: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(20, 5vw);
    grid-template-rows: repeat(20, 5vh);
}

/*
#infoBubble {
    grid-column-start: 4;
    grid-column-end: 20;
    grid-row-start: 2;
    grid-row-end: 20;

    border: solid;
    border-color: black;
    border-radius: 20px;

    background-color: white; 
   
}
*/

.submenu {
    border: solid;
    border-color: black;
    
    background-color: white; 
    color: red;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: 1.3rem "Fira Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inicio {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
    border-top-right-radius: 20px 20px;

}

#infoMenu {
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 3;
}

#contato{
    grid-column-start: 15;
    grid-column-end: 21;
    grid-row-start: 1;
    grid-row-end: 3;
    border-bottom-right-radius: 20px 20px;
}
